---
layout: home
title: Open Source Library For Scientific High Performance Computing
home: true

extra-css:
    - home.css

extra-scripts:
    - jquery.cycle2.min.js

---

    <div id="banner">
        <div class="title">
            <h1 class="bitpit">bitpit</h1>

            <h2>Open source library for scientific <br/>High Performance Computing</h2>
        </div>

        <div class="cycle-slideshow">
            <img alt="PABLO Example" src="{{ site.baseurl }}/images/header_pablo_11.png" />
            <img alt="PABLO Example" src="{{ site.baseurl }}/images/header_pablo_22.png" />
        </div>
    </div>

    <div id="main" class="home">

        <div class="content-box left bitpit-overview">
            <div class="image">
                <img alt="bitpit Logo" src="{{ site.baseurl }}/images/bitpit_logo_cube.png" />
            </div>

            <div class="content">
                <h1>bitpit overview</h1>

                <p>
                bitpit is an open source modular library for scientific computing developed by
                <a class="optimad" href="http://www.optimad.it">Optimad Engineering Srl</a>. The goal of bitpit
                is to ease the burden of writing scientific programs provinding the common bulding blocks needed
                by every scientific application.
                </p>

                <p class="button">
                <a href="{{ site.baseurl }}/modules/overview.html">Read more</a>
                </p>
            </div>
        </div>

        <div class="content-box bitpit-modules dark">
            <div class="content">
                <h1>bitpit modules</h1>

                {% for module in site.modules %}
                    {% if module.highlights %}
                    <div class="module-info">
                        <h2><a href="{{ site.baseurl }}/modules/index.html#{{ module.name }}" >{{ module.name }}</a></h2>
                        <p>
                        {{ module.short_description }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}

                <div style='clear:both'></div>
            </div>
        </div>

        <div class="content-box right bitpit-license">
            <div class="image">
                <img alt="bitpit Logo" src="{{ site.baseurl }}/images/bitpit_adaptive.png" />
            </div>

            <div class="content">
                <h1>bitpit license</h1>

                <p>
                bitpit is free and open source, distributed<br/>under the
                <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License v3</a>
                </p>

                <p class="button">
                <a href="{{ site.baseurl }}/license.html">Read more</a>
                </p>
            </div>
        </div>

    </div>
