---
layout: home
title: Open Source Library For Scientific High Performance Computing
home: true

extra-css:
    - home.css

extra-scripts:
    - jquery.cycle2.min.js

---

    <div id="banner">
        <div class="title">
            <h1 class="bitpit">bitpit</h1>

            <h2>Open source library for scientific <br/>High Performance Computing</h2>
        </div>

        <div class="cycle-slideshow">
            <img alt="PABLO Example" src="{{ site.baseurl }}/images/header_pablo_11.png" />
            <img alt="PABLO Example" src="{{ site.baseurl }}/images/header_pablo_22.png" />
        </div>
    </div>

    <div id="main" class="home">

        <div class="content-box bitpit-introduction">
            <div class="image">
                <img alt="bitpit Logo" src="{{ site.baseurl }}/images/bitpit_logo_cube.png" />
            </div>

            <div class="content">
                <h1>A quick look at bitpit</h1>

                <p>
                bitpit is a open source C++ library for scientific High Performance Computing. Within bitpit different modules factorize the typical effort which is needed to derived a real-life application code. Main efforts are dedicated to handle differnt types of computational meshes, their runtime adaptation and data transfer for parallel applications.
                </p>

                <p>
                bitpit is developed and maintained by <a class="optimad" href="http://www.optimad.it">Optimad Engineering Srl</a>
                and is distributed under the <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License v3.0</a>.
                </p>

                <p>
                The framework consists of a number of modules.
                </p>
            </div>
        </div>

        <div class="content-box module-list">
            <div class="content">
                {% for module in site.modules %}
                    {% if module.highlights %}
                    <div class="module-info">
                        <h1><a href="{{ site.baseurl }}/{{ module.url }}" >{{ module.name }}</a></h1>
                        <p>
                        {{ module.description }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}

                <div style='clear:both'></div>
            </div>
        </div>

        <div class="content-box">
            <div class="image">
                <img alt="bitpit Logo" src="{{ site.baseurl }}/images/bitpit_logo_cube.png" />
            </div>

            <div class="content">
                <h1>XXX</h1>

                <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam
                lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>
            </div>
        </div>
    </div>
