
    <div id="footer" >
        <div class="middle">
            <div class="box-wrapper">
                <div class="box bitpit">
                    <p>
                    <strong><a href="{{ site.baseurl }}">bitpit</a></strong><br />
                    <a href="{{ site.baseurl }}/modules/overview.html">Overview</a><br />
                    <a href="{{ site.baseurl }}/downloads">Downloads</a>
                    </p>
                </div>

                <div class="box optimad">
                    <p>
                    <strong><a href="http://www.optimad.it">OPTIMAD Engineering Srl</a></strong><br />
                    <a href="http://www.optimad.it/corporate/spin-off/">About</a><br />
                    <a href="http://www.optimad.it/contact-us/">Contact us</a><br />
                    <a href="mailto:info@optimad.it">info@optimad.it</a>
                    </p>
                </div>

                <div class="box address">
                    <p>
                    <strong>Address</strong><br />
                    Via Giacinto Collegno 18<br />
                    10143 Torino<br />
                    Italy
                    </p>
                </div>

                <div class="box info">
                    <p>
                    <strong>Info</strong><br />
                    Capitale Sociale € 10.000,00 i.v.<br />
                    C.F. / P.Iva 09359170017<br />
                    Iscr. Reg. Impr. Torino - R.E.A. TO-1045102
                    </p>
                </div>
            </div>
        </div>

        <div class="legal">
            <p>
            © 2016-2017 OPTIMAD Engineering Srl  -  <a href="{{ site.baseurl }}/privacy.html">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>
