{% if layout.webFormat == xhtml %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% else %}
<!DOCTYPE html>
<html>
{% endif %}
<head>
    {% if layout.webFormat == xhtml %}
    <meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
    {% else %}
    <meta charset="utf-8" />
    {% endif %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="bitpit is a C++ library for scientific High Performance Computing." />
    <meta name="keywords" content="bitpit, HPC, octree, PABLO, levelset, RBF, mesh, grid" />

    <link rel="shortcut icon" href="{{ site.baseurl }}/images/bitpit_icon.ico" type="image/vnd.microsoft.icon" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/base.css" />
{% for stylesheet in page.extra-css %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/{{stylesheet}}" />
{% endfor %}

    <script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery-1.12.4.min.js"></script>
{% for script in page.extra-scripts %}
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/{{script}}"></script>
{% endfor %}

    <script type="text/javascript">
        $(document).ready(function(){
{{ page.document-ready-script }}
        });
    </script>

{% for extra_head_include in page.extra-head-includes %}
    {% include {{ extra_head_include }} %}
{% endfor %}

    <title>bitpit - {{ page.title }}</title>
</head>

<body>

{% if page.layout == 'home' %}
{% assign home_class = 'home' %}
{% else %}
{% assign home_class = '' %}
{% endif %}

<!-- Header-->
<div id="header" class="{{ home_class }}">
    <div class="logo"><a href="{{ site.baseurl }}">bitpit</a></div>

    {% include menu.html %}
</div>

<div id="content" class="{{ home_class }}">
