<div class="menu-line"></div>

<ul class="menu">
{% for section in site.sections %}
    {% if page.section == section[0] %}
    <li class="current">
    {% else %}
    <li>
    {% endif %}
    {% if section[1].subsections %}
        <span>{{ section[1].name }}</span>
        <ul class="sub-menu">
        {% for subsection in section[1].subsections %}
            {% capture url %}{{ site.baseurl }}/{{ section[0] }}/{{ subsection[1].url }}{% endcapture %}
            <li><a href="{{ url }}">{{ subsection[1].name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        {% if section[1].url %}
            {% capture url %}{{ site.baseurl }}/{{ section[0] }}/{{ section[1].url }}{% endcapture %}
        {% else %}
            {% capture url %}{{ site.baseurl }}/{{ section[0] }}{% endcapture %}
        {% endif %}
        <a href="{{ url }}">{{ section[1].name }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>

<script type="text/javascript">
$('.menu li').hover(
    function() {
        $('ul', this).css('height', 'auto');
        $('ul', this).stop().slideDown(200);
    },
    function() {
        $('ul', this).stop().slideUp(200, function() {
            $(this).attr('style','');
        });
    }
);
</script>