.contents h1{ font-size:18px; }
.contents h2{ font-size:16px; }
.contents h3{ font-size:14px; }
.contents h4{ font-size:12px; }
.contents h5{ font-size:12px; }
.contents h6{ font-size:12px; }
.contents p{ font-size:12px; }
.contents ul{ font-size:12px; }
