
@font-face{
    font-family: "Sansation";
    src: url('../extra/fonts/Sansation_Regular.ttf');
}

html,
body {
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
}

h1 {
    font-size: 1.75rem;
    font-weight: 400;
    margin: 2.5rem 0 0.75rem 0;

    color: #3A92C9;
    font-family: "Sansation",sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem 0 0.75em 0;

    color: #3A92C9;
    font-family: "Sansation",sans-serif;
}

h3 {
    font-size: 1.15rem;
    margin: 1.25rem 0 0.5rem 0;

    color: #3A92C9;
    font-family: "Sansation",sans-serif;
}

p {
    font-size: 1rem;

    margin: 0.5rem 0 0.5rem 0;
}

a {
    text-decoration: none;
    outline: none;

    color: #3A92C9;
}

#header {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    z-index: 500;
}

#header .menu-line {
    display: block;
    position: absolute;

    top: 50px;
    left: 0;

    width: 100%;
    height: 9px;

    border-top: 1px solid #BFBFBF;
    background-color: rgba(36, 115, 152, 0.85);
}

#header .logo {
    position: absolute;

    top: 0;
    left: 75px;

    width: 100px;
    height: 50px;

    box-sizing: border-box;

    line-height: 50px;
    font-family: "Sansation",sans-serif;

    z-index: 600;
}

#header .menu {
    position: relative;

    padding: 0 0 0 200px;
    margin: 0;

    box-sizing: border-box;

    height: 50px;
    width: 100%;

    line-height: 50px;
    font-size: 14px;
    list-style: none;

    background-color: #FCFCFC;
}

#header .menu li {
    position: relative;
    float: left;

    height: 100%;
    width: auto;

    text-align: center;
    line-height: 50px;
}

#header .menu li:hover {
    background-color: #E6E6E6;
}

#header .menu li.current {
    background-color: #D8D8D8;
}

#header .menu li a,
#header .menu li span,
#header .logo a {
    display: block;
    box-sizing: border-box;
    padding: 0 15px 0 15px;

    width: 100%;
    height: 100%;

    text-decoration: none;
    outline: none;
    color: #404040;
}

#header .logo a {
    padding: 0;
    cursor: pointer;
}

#header .menu li span {
    cursor: default;
}

#header .menu li a:visited,
#header .menu li a:active,
#header .logo a:visited,
#header .logo a:active {
    color: #404040;
}

#header .logo a {
    font-weight: 900;
    font-size: 30px;
}

#header .menu li .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;

    width: 100%;
    min-width: 200px;

    padding: 10px 0 10px 0;
    margin: 0;

    background-color: rgba(36, 115, 152, 0.85);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 5px solid rgba(156, 198, 229, 0.85);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#header .menu li .sub-menu li:hover {
    background-color: rgba(58, 143, 185, 1);
}

#header .menu li .sub-menu li {
    display: block;

    text-align: left;

    box-sizing: border-box;
    width: 100%;
    height: 27px;
    line-height: 27px;
}

#header .menu li .sub-menu li a:visited,
#header .menu li .sub-menu li a:active {
    color: #FCFCFC;
}

#content {
    position: absolute;

    min-height: 100%;
    width: 100%;

    box-sizing: border-box;

    padding: 50px 0 0 0;
    margin: 0;
}

#banner {
    position: relative;

    background: #000000;

    padding: 0 75px 0 75px;
    margin: 0;
    box-sizing: border-box;

    height: 300px;
    width: 100%;
}

#banner .title {
    z-index: 150;
    width: 550px;

    text-align: left;

    position: absolute;
    bottom: 25px;
    left: 75px;
}

#banner .title h1,
#banner .title h2 {
    display: block;
    box-sizing: border-box;
    width: 100%;

    margin: 0;

    color: #F8F8F8;
}

#banner .title h1 {
    font-weight: 900;
    font-size: 80px;
}

#banner .title h2 {
    font-size: 28px;
    text-shadow: none;

    margin: 5px 0 5px 0;
}

#banner .title .download {
    border-radius: 5px;

    width: 200px;
    height: 50px;
    line-height: 50px;

    margin: auto auto;

    font-size: 30px;
    text-align: center;
    font-weight: 900;

    color: #F8F8F8;
    background-color: #262626;
}

#banner .title .download:hover {
    background-color: #333333;
}

#banner .title .download a {
    display: block;

    width: 100%;
    height: 100%;

    text-decoration: none;
    outline: none;
    color: #F8F8F8;
}

#banner .title .download a:visited,
#banner .title .download a:active {
    color: #F8F8F8;
}

#banner .cycle-slideshow {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    right: 0;

    text-align: right;

    overflow: hidden;
}

#banner .cycle-slideshow img {
    width: auto;
    height: 100%;

    /*
     * Hack to add hardware acceleration to the animation and guarantee a
     * high quality rescale
     */
    transform: translateZ(0);
}

#main {
    position: relative;

    padding: 25px 75px 250px 75px;
    margin: 0;

    color: #383838;
}

#main h1 {
    border-bottom: 1px solid #BEBEBE;
}

#main h2 {
    border-bottom: 1px solid #DADADA;
}

#main h3 {
    border-bottom: 1px solid #E8E8E8;
}

#main a {
    font-weight: 900;
    color: #2F78B0;

    text-decoration: none;
    outline: none;
}

#main a:visited,
#main a:active {
    color: #3A92C9;
}

#main a.optimad {
    color: #3A92C9;
}

#main a.optima:visited,
#main a.optima:active {
    color: #3A92C9;
}

#main > :first-child,
#main .content-box > :first-child {
    margin-top: 0 !important;
}

#main > :last-child,
#main .content-box > :last-child {
    margin-bottom: 0 !important;
}

#main .content-box {
    position: relative;

    padding: 125px 75px 125px 75px;
    margin: 0;
}

#main .content-box .content {
    padding: 0 400px 0 0;
}

#main .content-box .image {
    width: 350px;

    text-align: center;

    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
}

#main .content-box .image img {
    width: 100%;
    height: auto;
}

#main p .codebox {
    display: block;
    background-color: #EAEFF9;
    border:1px solid #D5D5D7;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

#footer {
    position: absolute;

    bottom: 0;
    height: 200px;

    box-sizing: border-box;
    padding: 25px 125px 20px 125px;
    width: 100%;

    color: #F8F8F8;
    background-color: #262626;

    overflow: hidden;
}

#footer p {
    margin: 0;
    padding: 0;

    line-height: 25px;
    font-size: 12px;
}

#footer a,
#footer a:visited,
#footer a:active {
    color: #F8F8F8;
}

.big {
    font-size: 1.25rem;
}

.downloads li {
    margin: 1rem 0 1rem 0;
}

.downloads p {
    margin: 0 0 1rem 0;
    font-size: 0.85em;
}

span.date  {
    font-size: 1.25rem;
    display:block;
    float: right;
}

.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.anchor + h1 {
    margin-top: 0 !important;
}

.figure {
    text-align: center;

    margin: 20px 0 20px 0;
}

.figure p {
    font-size: 0.85rem;
    font-weight: 900;

    margin: 5px 0 0 0;
    padding: 0;
}

.figure img {
    max-width: 100%;

    width: auto;
    height: auto;
}
