
#banner.PABLO {
    background-color: #73B5DD;
}

#banner.module .background {
    position: absolute;
    top: 0;
    right: 0;

    width: auto;
    height: auto;
    max-height: 300px;
}

#banner.module .title p {
    font-size: 14px;
}
